@model IEnumerable<SATApplication.DATA.EF.Enrollment>

@{
    ViewBag.Title = "Enrollments";
}

@section datatablesCSS{
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Enroll Student", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table" id="dataTable">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledClass.InstructorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduledClass.InstructorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EnrollmentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentID })
                </td>
            </tr>


        }
    </tbody>
</table>

@section scripts{
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}

