@model IEnumerable<SATApplication.DATA.EF.Student>

@{
    ViewBag.Title = "Students";
}



<h2>@ViewBag.Title</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Add Student", "Create", null, new { @class = "btn btn-default" })
    }
    @Html.ActionLink("List View", "Index", null, new { @class = "btn btn-default" })
</p>
<br />


<div class="row d_flex">

    @foreach (var item in Model)
    {


        <div class=" col-md-4">
            <div class="latest text_align_center">
                <figure><img src="~/Content/images/students/@item.PhotoUrl" alt="@item.StudentID" /></figure>
                <a class="read_more" href="@Url.Action("Details", "Students", new { id = item.StudentID })">Student Details</a>
                <div class="nostrud">
                    <h3>@item.FullName</h3>

                    <ul>
                        <li>Major: @item.Major</li>
                        <li>Email: @item.Email</li>
                        @if (User.IsInRole("Admin"))
                        {
                        <li>
                            @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
                        </li>
                        }
                        

                    </ul>

                </div>
            </div>
        </div>
    }

</div>
