<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>@ViewBag.Title | Pandemic Survival University</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <!-- favicon -->
    <link rel="icon" href="~/Content/images/corona_icon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

    @RenderSection("datatablesCSS", false)

</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/Content/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- top -->
    <!-- header -->
    <header class="header-area">

        <div class="right">
            @Html.Partial("_LoginPartial")
        </div>
        <div class="container">
            <div id="navMain" class="row d_flex">
                <div class="col-sm-3 logo_sm"> 
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home")"></a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 col-sm-9">
                    <div class="navbar-area">
                        <nav class="site-navbar">
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>

                                <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("Roles Admin", "Index", "RolesAdmin")</li>
                                    <li>@Html.ActionLink("Users Admin", "Index", "UsersAdmin")</li>
                                    <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                                    <li>@Html.ActionLink("Student Statuses", "Index", "StudentStatus")</li>
                                }

                                @if(User.IsInRole("Admin") || User.IsInRole("Scheduling"))
                                {
                                    <li>@Html.ActionLink("Enrollments", "Index", "Enrollments")</li>
                                    <li>@Html.ActionLink("Scheduled Classes", "Index", "ScheduledClasses")</li>
                                    <li>@Html.ActionLink("Students", "IndexGrid", "Students")</li>
                                }
                                
                            </ul>

                            <button class="nav-toggler">
                                <span></span>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <main>
        @RenderBody()
    </main>
    <!--  footer -->
    <footer>
        <div class="footer">

            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <p>© @DateTime.Now.Year All Rights Reserved. Design by <a href="https://html.design/"> Free html Templates.</a> Converted by <a href="http://www.sawyergobin.com">Sawyer Gobin</a> and <a href="http://www.codeweeks.com">Colton Weeks</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/custom.js"></script>
    @RenderSection("scripts", false)
</body>
</html>